<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="key_vault_dotnet_authentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.1.3001" newVersion="3.19.1.3001" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <key_vault_dotnet_authentication.Properties.Settings>
      <setting name="AZURE_RESOURCE_GROUP" serializeAs="String">
        <value>azure-sample-group</value>
      </setting>
      <setting name="AZURE_LOCATION" serializeAs="String">
        <value>westus</value>
      </setting>
      <setting name="AZURE_CLIENT_ID" serializeAs="String">
        <value>REPLACE-ME</value>
      </setting>
      <setting name="AZURE_CLIENT_OID" serializeAs="String">
        <value>REPLACE-ME</value>
      </setting>
      <setting name="AZURE_CLIENT_SECRET" serializeAs="String">
        <value>REPLACE-ME</value>
      </setting>
      <setting name="AZURE_TENANT_ID" serializeAs="String">
        <value>REPLACE-ME</value>
      </setting>
      <setting name="AZURE_SUBSCRIPTION_ID" serializeAs="String">
        <value>REPLACE-ME</value>
      </setting>
    </key_vault_dotnet_authentication.Properties.Settings>
  </applicationSettings>
</configuration>